.list-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.toggle-events-group {
    display: flex;
    flex-direction: row;
    font-size: 25px;
}

.selected {
    color: teal;
    cursor: default;
    padding-right: 3%
}
.not-selected {
    color: black;
    text-decoration: none;
    padding-right: 3%;
}

.not-selected:hover {
    text-decoration: underline;
}

#toggle-description {
    font-size: 20px;
    color: grey;
}

.list-content {
    padding-left: 0%;
}

.list-content:hover {
    cursor: pointer;
}

#group-img {
    margin-right: 3%;
    width: 275px;
    height: 200px;
    border-radius: 3%;
}

#event-img {
    margin-right: 3%;
    width: 275px;
    height: 200px;
    border-radius: 3%;
}

#group-item {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px grey solid;
}

.group-item-details > h2 {
    margin: 0px;
}

.group-item-details > h3 {
    font-weight: normal;
    color: grey;
}

.group-item-details > h4 {
    font-weight: normal;
    color: gray;
    margin-bottom: 0px;
    align-items: baseline;
}



.event-item-wrapper {
    border-top: 1px grey solid;
    padding: 15px 0px;
}

.event-item {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.event-item > .event-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-item-details > h5 {
    color:  rgb(5, 73, 73);
    font-size: 16px;
    font-weight:normal;
    margin: 0;
}

.event-item-details > h2 {
    flex-wrap: wrap;
    margin: 10px 0px;
}

.event-item-details > h4 {
    color: gray;
    font-weight: normal;
    margin: 0;
    padding-bottom: 15px;
}
