html {
    font-family: sans-serif
}

label {
    display: flex;
    align-items: center;
    margin: 5px;
}

.errors {
    color: red;
    align-items: start;
}

.demo-user {
    width: 150px;
    height: 40px;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 17px;
    border: transparent;
    color:rgb(3, 40, 40);
    text-decoration: underline;
}

.demo-user:hover {
    cursor: pointer;
}
